<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.Owin.Security;
    @using System.Web.Mvc;
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @{
                    bool isAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
                    if (isAuthenticated)
                    {
                        ViewBag.Login = "Выход";
                        ViewBag.LoginAction = "Logout";
                        ViewBag.UserName = "Добро пожаловать  " + HttpContext.Current.User.Identity.Name;
                    }
                    else
                    {
                        ViewBag.Login = "Вход";
                        ViewBag.LoginAction = "Login";
                        ViewBag.UserName = "Добро пожаловать  " + "Гость";
                    }
                }
                @Html.Label((string)ViewBag.UserName, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink((String)ViewBag.Login, (String)ViewBag.LoginAction, "Account")</li>
                    }
                    </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
